$background-color: #c8c8c8;
$background-color-light: #fff;
$text-color: #111;
$text-color-light: #fff;
$link-hover: #e78b00;
$category-meat: #e73c01;
$category-vegetables: #2b9030;
$category-fruit: #f39200;